{
  "database": {
    "type": "elasticsearch",
    "host": "localhost",
    "port": 9200,
    "index": {
      "name": "rtx",
      "settings" : {
        "number_of_shards" : 1,
        "number_of_replicas" : 1
      }
    },
    "analysis_type": {
      "name": "analysis",
      "mapping": {
        "properties": {
          "name":     { "type": "keyword" },
          "strategy": {
            "type": "nested",
            "properties": {
              "ignore_first_n_results":  { "type": "integer" },
              "knobs":                   { "type": "object"  },
              "sample_size":             { "type": "integer" },
              "type":                    { "type": "keyword" }
            }
          },
          "created":  { "type": "date"  }
        }
      }
    },
    "data_point_type": {
      "name": "data_point",
      "mapping": {
        "_parent":  { "type": "analysis"},
        "properties": {
          "exp_run":  { "type": "integer" },
          "knobs":    { "type": "object"  },
          "payload":  { "type": "object"  },
          "created":  { "type": "date"  }
        }
      }
    }
  }
}